<!-- Top Bar Start -->
<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="tb-contact">
                    <p><i class="fas fa-envelope"></i>{{ settingData.email }}</p>
                    <p><i class="fas fa-phone-alt"></i>{{ settingData.phone }}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tb-menu">
                    <a href="{% url 'about' %}">About</a>
                    <a href="{% url 'contact-us' %}">Contact</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Start -->

<!-- Brand Start -->
<div class="brand">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4">
                <div class="b-logo">
                    {% if settingData.logo %}
                    <a href="{% url 'index' %}">
                        <img src="{{ settingData.logo.url }}" alt="Logo">
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 col-md-4">
                <div class="b-ads">
                    <a href="https://htmlcodex.com">
                        <img src="img/ads-1.jpg" alt="Ads">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="b-search">
                    <input type="text" placeholder="Search">
                    <button><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Brand End -->