{% extends 'master/masater.html' %}
{% block content %}

    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">News</a></li>
                <li class="breadcrumb-item active">News details</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Single News Start-->
    <div class="single-news">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="sn-container">
                        <a href="">Total Views: {{ newsData.views }}</a>
                        <div class="sn-img">

                            {% if newsData.image %}
                                <img src="{{ newsData.image.url }}" alt="{{ newsData.title }}"/>
                            {% endif %}
                        </div>
                        <div class="sn-content">

                            <h1 class="sn-title">{{ newsData.title }}</h1>
                            <p>
                                {{ newsData.content |safe }}
                            </p>
                        </div>
                    </div>
                    <div class="container">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name">name</label>
                                <input type="text" class="form-control" name="name" required id="name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" required id="email">
                            </div>
                            <div class="form-group">
                                <label for="comment">Comment</label>
                                <textarea name="body" id="comment" class="form-control" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success">Comment</button>
                            </div>

                        </form>

                    </div>
                    <div class="container">
                        {% for comment in commentData %}
                            {% include 'pages/news/comments.html' with comment=comment %}
                        {% endfor %}
                    </div>
                    <div class="sn-related">
                        <h2>Related News</h2>
                        <div class="row sn-slider">
                            {% for n_related in related_news %}
                                <div class="col-md-4">
                                    <div class="sn-img">
                                        {% if n_related.image %}
                                            <img src="{{ n_related.image.url }}" width="200"
                                                 alt="{{ n_related.title }}"/>
                                        {% endif %}
                                        <div class="sn-title">
                                            <a href="{% url 'news-details' n_related.slug %}">{{ n_related.title }}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Single News End-->

{% endblock %}